//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading A propos
			p	Plateforme collaborative des Miagiste cartésiens réunissant les professeurs, les étudiants, les anciens	élèves de Miage à l'Université Paris Descartes
			ul.list-inline
				li: a(href='/about') Pour en savoir plus sur nous
				li: a(href='mailto:m2fa-miage-ppd@googlegroups.com') Contactez nous!

		.col-sm-8
			.row
				.col-xs-4
					h5.footer-heading Membres
					ul
						li: a(href='/members') Membres
						li: a(href='/meetups') Les grandes réalisations
						if !user
							li: a(href='/join').js-auth-trigger Rejoignez nous!
				.col-xs-4
					h5.footer-heading Ressources
					ul
						li: a(href='/organisations') Groupes
						li: a(href='/blog') Fil d'actus
				.col-xs-4
					h5.footer-heading Groupes
					ul: each sponsor in sponsors
						li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.row.footer-copyright
		p Copyright &copy; 2015 Miage Descartes. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
