extends ../../layouts/default

include ../../mixins/organiser

block intro
	.page-intro: .container
		h1.page-title Qui sommes-nous?

block content
	.page-content
		.section.highlight: .container
			h2 Administrateurs
			p.lead(text-align='center') Les futurs anciens élèves vous souhaitent la bienvenue
			.row.about-organisers
				each org in organisers
					.col-sm-3
						+organiser(org)


		//- CODE
		.section: .container-sm
			h2 Et plus encore
			h5 Nous avons travaillé avec plusieurs membres de la MIAGE Descartes (étudiants et professeurs) pour réaliser cette plateforme collaborative.
			p Le but de cette dernière est de proposer un espace communautaire réunissant les étudiants, les anciens élèves et les professeurs de la Miage de l'Université Paris Descartes pour les Masters et de l'IUT Paris Descartes pour les licences et les DUTs.
			p Ensemble, nous pouvons créer un réseau d'anciens, une junior entreprise, une association des étudiants pour permettre à tous et à toutes de s'entraider pour atteindre nos objectifs personnels. Tels que trouver une entreprise pour son stage, son alternance, avoir besoin d'aide sur une nouvelle technologie ou encore trouver des profils qui nous ressemblent pour savoir où s'orienter l'année prochaine.
			p Toutes ces attentes sont aujourd'hui non comblés et pourront si vous le voulez, devenir vraies. Vous serez les acteurs de cette plateforme, administrateurs, étudiants, professeurs, developpeurs, anciens, futurs étudiants, un seul mot d'ordre :
			h3 Rejoignez-nous !!!

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
