extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- Css
block css
	link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css')
//- BODY
block content
	head
		.home-block-intro
			.home-block-intro-centered
				h1 Plateforme Miage Descartes

	section.home-block-wrapper
		.home-icons
			.home-icon-wrapper
				h2
					i(class="fi-heart")
					br
					span Un réseau complet
				p Retrouvez les membres de votre promo, les professeurs mais aussi les anciens élèves, tous regroupés sur une seule plateforme
			.home-icon-wrapper
				h2
					i(class="fi-star")
					br
					span Base documentaire
				p Vous pouvez profiter de la plateforme pour partager des fichiers et lancer des discussions sur divers thèmes (offres d'emploi, PDD, etc.).
			.home-icon-wrapper
				h2
					i(class="fi-plus")
					br
					span Un agenda unifié
				p Un agenda toujours à jour, accessible et modifiable par tous : pour être au courant des modifications de planning très facilement
		.home-floatclear

	section.home-block-wrapper-img
		img.home-img.home-float-left(src="/images/home2.jpg")
		.home-text-with-img.home-float-left
			h3 Une plateforme regroupant tout le monde
			p Pour une communication plus rapide et aisée
			| Cette plateforme sera le point d'entrée unique pour 
			| toutes les personnes ayant un lien avec le parcours 
			| Miage : les élèves des promotions actuelles, les
			| professeurs, le secrétariat mais aussi les anciens
			| diplômés !
			p Pour une Miage moderne et pérenne

		.home-floatclear

	section.home-text
		h3 Commencer dès maintenant
		p L'inscription est facile
		| Créer très rapidement votre compte et profitez d'un accès instantané aux fonctions disponibles via la plateforme Miage.
		p Reprennez contact avec les anciens élèves
		| Que ce soit pour une recherche d'un contrat d'apprentissage, une proposition de projet pour une entreprise créée par un ancien élève
		| ou pour la recherche d'un contrat en sortie d'étude, vous trouverez votre réponse ici
		p Un suivi complet des PPD
		| Cette plateforme centralise aussi tous les projets pluri-disciplinaires à réaliser dans l'année : pour une commnunication plus rapide et facile
		| entre les différentes équipes et les professeurs.	

	section.home-block-wrapper-img
		img.home-img.home-float-right(src="/images/home3.jpg")
		.home-text-with-img.home-float-right
			h3 Soyez source de proposition !
			p Pour un partage des connaissances plus facile
			| Des idées d'améliorations, de projets, d'interventions, de partenariats avec les entreprises ? Vous pourrez soumettre vos idées directement sur
			| la plateforme et ainsi leur donner plus de visibilité !
			p Et ainsi rendre la Miage encore plus complète !

		.home-floatclear

//- JS
block js
	//- twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	//- map
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
		script(src='/js/views/index.js')
