extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- Css
block css
	link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css')
//- BODY
block content
	head
		.home-block-intro
			.home-block-intro-centered
				h1 Descartes vous attend !

	section.home-block-wrapper
		.home-icons
			.home-icon-wrapper
				h2
					i(class="fi-heart")
					br
					span L'amour
				p Chez Descartes l'amour des anciens perdurent pour la vie, vous n'y échapperez pas
			.home-icon-wrapper
				h2
					i(class="fi-star")
					br
					span Full of stars
				p Nous le savons tous, les meilleurs sortent de descartes profitez de votre réseau pro pour ne pas les laisser s'échapper
			.home-icon-wrapper
				h2
					i(class="fi-plus")
					br
					span Zlatanesque
				p Les events organiser par le BDE sont complètement Zlatanesque go go au futsal
		.home-floatclear

	section.home-block-wrapper-img
		img.home-img.home-float-left(src="/images/home2.jpg")
		.home-text-with-img.home-float-left
			h3 Descartes C'est trop bien !
			p On ne dit pas ça pour plaisanter.
			| tout les matins vous pouvez faire
			| votre petit exercice pour monter au
			| 7eme grâce aux ascenseurs qui ne
			| fonctionnent pas !
			| Aussi grâce au super BDE, vous ne vous
			| embêterez jamais.
			p C'est dingue !!!???

		.home-floatclear

	section.home-text
		h3 Un super titre
		p On ne dit pas ça pour plaisanter.
		| tout les matins vous pouvez faire
		| votre petit exercice pour monter au
		| 7eme grâce aux ascenseurs qui ne
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais. vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais. vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais. vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais. vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| fonctionnent pas !
		| Aussi grâce au super BDE, vous ne vous
		| embêterez jamais.
		| C'est dingue !!!???

	section.home-block-wrapper-img
		img.home-img.home-float-right(src="/images/home3.jpg")
		.home-text-with-img.home-float-right
			h3 Descartes C'est trop bien !
			p On ne dit pas ça pour plaisanter.
			| tout les matins vous pouvez faire
			| votre petit exercice pour monter au
			| 7eme grâce aux ascenseurs qui ne
			| fonctionnent pas !
			| Aussi grâce au super BDE, vous ne vous
			| embêterez jamais.
			p C'est dingue !!!???

		.home-floatclear

//- JS
block js
	//- twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	//- map
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
		script(src='/js/views/index.js')
