extends ../../layouts/default

include ../../mixins/meetup

head
	link (href=&apos;http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&apos;, rel=&apos;stylesheet&apos;, type=&apos;text/css&apos;)
block intro
	.page-intro: .container
		h1.page-title= 'L\'histoire de la miage'
		p.lead Les plus grandes réalisations de la MIAGE de Descartes.&nbsp;

block content
	ul.timeline
		li
		.direction-l
			.flag-wrapper
			span.flag Vainqueur des JNM
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2015 - present
			&#x9;&#x9;&#x9;
			.desc Une équipe d'une dizaine d'étudiants de Descartes remportent la 34e édition des Journées Nationales MIAGE.
		li
		.direction-r
			.flag-wrapper
			span.flag Projet PluriDisciplinaire
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2014-2015
			&#x9;&#x9;&#x9;
			.desc Le 2e moment où tout a commencé ! Travail réalisé par Aurélien Chassereau, Matthieu Peyres, Adrien Valin et Jordan VoNgoc.
		li
		.direction-l
			.flag-wrapper
			span.flag AuTroisieme.com
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2011
			&#x9;&#x9;&#x9;
			.desc Tout est Gratuit, recherche de colocation & colocataire. Déposez une annonce de colocation et contactez les autres colocataires.
		li
		.direction-r
			.flag-wrapper
			span.flag Création de la MIAGE Descartes
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2000
			&#x9;&#x9;&#x9;
			.desc Là où tout a commencé...
