extends ../../layouts/default

include ../../mixins/meetup

head
	link (href=&apos;http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&apos;, rel=&apos;stylesheet&apos;, type=&apos;text/css&apos;)
block intro
	.page-intro: .container
		h1.page-title= 'L\'Histoire de la Miage Cartésienne'
		p.lead
			Les plus grandes réalisations de la MIAGE de Descartes.&nbsp;

block content
	ul.timeline
		li
		.direction-r
			.flag-wrapper
			span.flag PPD 2014
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2013 - present
			&#x9;&#x9;&#x9;
			.desc My current employment. Way better than the position before!
		li
		.direction-l
			.flag-wrapper
			span.flag Apple Inc.
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2011 - 2013
			&#x9;&#x9;&#x9;
			.desc My first employer. All the stuff I&apos;ve learned and projects I&apos;ve been working on.
		li
		.direction-r
			.flag-wrapper
			span.flag Harvard University
			&#x9;&#x9;&#x9;&#x9;
			span.time-wrapper
				span.time 2008 - 2011
			&#x9;&#x9;&#x9;
			.desc A description of all the lectures and courses I have taken and my final degree?
