- Ajout de linkedin comme pour github ou twitter
- Amélioration du visuel du fil d'actus (trop gras et attention au read more trop sombre
et aussi le read more n'affiche pas tout)
- Amélioration des connexions github fb et tout qui envoie des erreurs
- Amélioration du formulaire d'inscription
- Donner la possibilité de modifier ses publications
- Donner la possibilité de commenter ses pubs
- Donner la possibilité d'aimer les pubs des autres
- Améliorer l'histoire de la miage
- Attente de la page d'accueil de Matthieu
- Enlever SydJs Partout
// Logo miage ? OK
- liens vers calendrier
- Page Nous Contacter
- Gestion des personnes connecter ou nous
- Gestion des groupes a améliorer
