- améliorer l'affichage du h1 (bien centré)!!! j'y arrive pas !

- Ajout de linkedin comme pour github ou twitter (PAS MAINTENANT)
- Amélioration du visuel du fil d'actus (trop gras et attention au read more trop sombre
et aussi le read more n'affiche pas tout)
- Amélioration des connexions github fb et tout qui envoie des erreurs (OK mais pas maintenant)
- Amélioration du formulaire d'inscription (A FAIRE)


- Donner la possibilité de modifier ses publications OOOOK 
Remplacer le lien 'Voir la publication', mettre 'modifier' dessus. Rouvrir la boite de création du post pour le modifier. Et renvoyer le tout en POST. (maj du champs updatedat + affichage 'mis à jour le ..') Seul le user connecté a le droit de modifier SES post. OK
-Donner seulement la possibiliter de modifier pour le user qui a créé, le lien (blog.jade) OOOK
-Rajouter le nombre de commentaires dans la page post OK
-NE PAS COMMENTER DU VIDE dans doc.jade!!! OK


-Formulaire d'inscription, rajouter des elements, pour completer la page ME (A FAIRE)


-Ajouter la possibilité de selectionner un groupe dans la creation du post (liste deroulante, etc) OOOK
-Possibilité de s'abonner à un groupe OOK
-Se desabonner OOOK
-Corriger la confusion d'abonnements de groupes OOK
-Integrer ADAM OKKKK


-Quid Organisations/Groupes? Espaces entreprises?
-Gerer les abonnements barre de recherche (A FAIRE)



- Donner la possibilité de commenter ses pubs
- Donner la possibilité d'aimer les pubs des autres (A FAIRE)
- Améliorer l'histoire de la miage
// Attente de la page d'accueil de Matthieu OK
// Enlever SydJs Partout presque OK
// Logo miage ? OK
- liens vers calendrier (En attente M1 version finale)
- Page Nous Contacter (je l'ai supprimer pour l'instant) (A FAIRE)
- Gestion des personnes connecter ou nous
- Gestion des groupes a améliorer
