// Post
// ---------------

.entry {
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  padding: 20px 20px 2em 20px;
  text-align: justify;
  background-color: white;
  border-radius: .15em;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.04),0 2px 0 rgba(0,0,0,0.04);
}

span.entry-line-group-before{
  border-radius: 15%;
  float:left;
  width: 0.5em;
  height: 1em;
  margin-right: 0.2em;
  margin-top: 0.2em;
}

a.entry-line-group {
  float:left;
  margin-right: 0.5em;
  font-size:70% ;
  color:#323232;
}

.entry-groups {
  float:right;
}

.floatclear.groups{
  margin-bottom: 0.5em;
}

.entry-title,
.entry-title a {
  display: inline;
  margin-top: 0;
  margin-right: 0.1em;
  font-family: Oswald, sans-serif;
  color: #333;
  text-decoration: none;
}

.entry-title a:hover {
  color: #555;
}

.entry-author-container img{
  display:inline-block;
  border-radius: 50%;
  height: auto;
	max-width: 100%;
  float:left;
  margin-right:1em;
  margin-bottom: 1em;
}

.entry-author-detail p{
  margin:0px;
}

.entry-author-detail{
  float:left;
  margin-top:0.2em;
}

.floatclear {
  clear:both;
}

.entry-author {
  color:gray;
  font-weight: bold;
}


.entry-date {
  font-size: 80%;
}

.more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 3px;
  background: #555;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 10px #000;
}

.more-link a{
  color:white;
}
.more-link a:hover{
  color:white;
}
.more-link a:focus{
  color:white;
}

.more-link:hover {
  background: #5E5E5E;
}

.more-link:after {
	content: "\2193";
	margin-left: 8px;
	font-size: .8em;
}

.more-link.open:after {
	content: "\2191";
}
